# Heiken Ashi

[Investopedia link](https://www.investopedia.com/trading/heikin-ashi-better-candlestick/)

## Import Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np


import warnings
warnings.filterwarnings("ignore")

# to fetch data 
import yfinance as yf

import talib as ta

## Import stock price of Reliance

In [2]:
symbol = 'RELIANCE.NS'
start = '2017-01-01'
end = '2019-01-01'

# Read data 
df = yf.download(symbol,start,end)

df.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-02,542.000000,545.000000,536.174988,542.549988,530.454773,3244916
2017-01-03,544.924988,548.500000,540.549988,544.700012,532.556885,2941502
2017-01-04,546.450012,546.500000,532.150024,533.575012,521.679932,4751094
2017-01-05,535.500000,539.950012,534.375000,538.700012,526.690674,3992966
2017-01-06,537.099976,542.500000,536.549988,537.474976,525.492920,3586854

### Generating Heikin Ashi O-H-L-C values

In [3]:
df['HA_Close']=(df['Open']+ df['High']+ df['Low']+ df['Close'])/4
df['HA_Open']=(df['Open']+df['Close'])/2   
    
for i in range(1, len(df)):
    df['HA_Open'][i]=(df['HA_Open'][i-1]+df['HA_Close'][i-1])/2 
df['HA_High']=df[['HA_Open','HA_Close','High']].max(axis=1)
df['HA_Low']=df[['HA_Open','HA_Close','Low']].min(axis=1)

df.head()

,Open,High,Low,Close,Adj Close,Volume,HA_Close,HA_Open,HA_High,HA_Low
Date,,,,,,,,,,
2017-01-02,542.000000,545.000000,536.174988,542.549988,530.454773,3244916,541.431244,542.274994,545.000000,536.174988
2017-01-03,544.924988,548.500000,540.549988,544.700012,532.556885,2941502,544.668747,541.853119,548.500000,540.549988
2017-01-04,546.450012,546.500000,532.150024,533.575012,521.679932,4751094,539.668762,543.260933,546.500000,532.150024
2017-01-05,535.500000,539.950012,534.375000,538.700012,526.690674,3992966,537.131256,541.464848,541.464848,534.375000
2017-01-06,537.099976,542.500000,536.549988,537.474976,525.492920,3586854,538.406235,539.298052,542.500000,536.549988